/*
 * Passwords WIFI and MQTT broker.
 * Set here, then either copy it and rename it to "mypasswords.h"
 * or change the line #include "mypasswords.h" to be #include "passwords.h"
 * in the main file.
 */

#ifndef passwords
#define passwords

const char* SSID = "";
const char* WIFIPASSWORD = "";
const char* MQTTUSER = "";
const char* MQTTPASSWORD = "";
const char* mqttserver = "";

#endif
